.randomusers{
    display: flex;
    flex-wrap: wrap;
}
.randomusers figure{
    border: solid 1px black;
    border-radius: 10%;
    padding: 0.8rem;
}
.randomusers figure img{
max-width: 100%;
border-radius: 50%;
}